body{
  background-color: grey;
}

.select-box{
  min-width: 50px;
}

#form1{
  background-color: coral; 
  padding: 20px;
  border:1px solid black; 
  margin-top:5px;
}

#form1 div{
  margin: 20px;
}



#form1 label{
  margin-right: 20px; 
  vertical-align: middle;
}

.question-div{
  border: 1px solid black;
  padding:5px;
}